
block content-main
	div.alert.alert-success#alert
	div.dialog(id="manageComponant" title="Manage Component")
		button.form-control(id="AddChild") Add CI Pipeline
		button.form-control(id="AddIntegration") Add Integration Pipeline
	div.dialog(id="manageCIPipeline" title="Manage CI Pipeline")
		select#cartridges
		button.btn.btn-success(id="setCartridge") Set Cartridge
	div#tree
	script.
		$("#alert").hide();
	