html{
    font: 10px sans-serif;
}

svg{
    border: 1px solid silver;
    transform: rotate(-180deg);
}

.btn{
	margin-top:5px;
}

.node{
    cursor: pointer;
}

.node circle{
    stroke: steelblue;
    stroke-width: 5px;
}

.link{
    fill: none;
    stroke: lightgray;
    stroke-width: 5px;
}

.dialog {
    display:none;
}

text{
	transform: rotate(-180deg);
}

svg{
	margin-left: -300px;
	width:100%;
	border: none;
}
